.letter-card {
  width:300px;
  height: 250px;
  display: inline-flex;
  margin: 15px;
}

.letter_image {
  max-height: 140px;
  max-width: 200px;
}

.word_name {
  position: relative;
  top: 100px;
  font-size: 18px;
}
