<admin-nav></admin-nav>
<h2>Видео</h2>
<table class="table">
  <thead>
    <tr>
      <th>№</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Путь</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videos" (click)="onSelect(video)">
      <th>{{video.id}}</th>
      <th>{{video.title}}</th>
      <th>{{video.description}}</th>
      <th>{{video.url}}</th>
      <th><button md-button (click)="delete(video)">Удалить</button></th>
    </tr>
  </tbody>
</table>
<div class="row" *ngIf="selectedItem">
  <h2>
    Редактировать {{selectedItem.title | uppercase}}
  </h2>
  <input [(ngModel)]="selectedItem.title" placeholder="name"/>
  <input [(ngModel)]="selectedItem.url" placeholder="путь"/>
  <textarea [(ngModel)]="selectedItem.description" placeholder="описание"></textarea>
  <input type="file" ng2FileSelect [uploader]="uploader" />
  <button md-button (click)="save()">Save</button>
</div>
<div class="row" *ngIf!="selectedItem">
  <h2>Добавить видео</h2>
  <input [(ngModel)]="newItem.title" placeholder="name"/>
  <input [(ngModel)]="newItem.url" placeholder="путь"/>
  <textarea [(ngModel)]="newItem.description"></textarea>
  <input type="file" ng2FileSelect [uploader]="uploader" />
  <button md-button (click)="add()">
    Добавить
  </button>
</div>
