[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.login-btn {
  color: #888;
  font-size: 30px;
}

.app-title{
  font-size: 54px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: 'Plainscript';
  font-weight: bold;
}

.nav-element {
  height: 100px;
  width: 85%;
  opacity: 0.8;
  margin-bottom: 20px;
}

.block {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.video-block {
  background-color: #cc0000;
}

.alphabet-block {
  background-color: #bf8514;
}
.math-block {
  background-color: #74365b;
}
.draw-block {
  background-color: #623c04;
}

.nav_row {
  position: absolute;
  top: 5px;
}

.alphabet_row {
  background-color: #f8ac00;
}

.video_row {
  background-color: #ff5050;
}

.draw_row {
  background-color: #996533;
}

.math_row {
  background-color: #b12978;
}

.nav-text {
  color: white;
  font-size: 26px;
  text-align: center;
}

.dashboard-header {
  height: 300px;
  background-image: url(../assets/images/mountain.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-position: inherit;
  position: relative;
}

.dashboard-header:before {
  content: "";
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.36);
  position: absolute;
  bottom: 0;
  left: 0;
}

.dashboard-header__text-content {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-top: 238px;
}

.dashboard-header__text {
  color: white;
}
