<button md-button class="btn-lg pull-right" (click)="openDialog()">
  <span class="login-btn">Вход</span>
</button>
<h1 class="app-title">Cradle</h1>
<div class="col-md-4">
  <div class="nav-element video_row">
    <span class="" routerLink="/videos" routerLinkActive="active">
      <div class="block video-block">
        <img class="nav-img" src="../assets/images/health.svg">
      </div>
      <span class="nav-text">Мультфильмы</span>
    </span>
  </div>
  <div class="nav-element alphabet_row">
    <span routerLink="/alphabet" routerLinkActive="active">
      <div class="block alphabet-block">
        <img class="nav-img" src="../assets/images/english.svg">
      </div>
      <span class="nav-text">Алфавит</span>
    </span>
  </div>
  <div class="nav-element math_row">
    <span class="" routerLink="/alphabet" routerLinkActive="active">
      <div class="block math-block">
        <img class="nav-img" src="../assets/images/math.svg">
      </div>
      <span class="nav-text">Математика</span>
    </span>
  </div>
  <div class="nav-element game_row">
    <span class="" routerLink="/games" routerLinkActive="active">
      <div class="block game-block">
        <img class="nav-img" src="../assets/images/games.svg">
      </div>
      <span class="nav-text">Игры</span>
    </span>
  </div>
  <div class="nav-element draw_row">
    <span class="" routerLink="/drawing" routerLinkActive="active">
      <div class="block draw-block">
        <img class="nav-img" src="../assets/images/arts.svg">
      </div>
      <span class="nav-text">Панель искусств</span>
    </span>
  </div>
</div>

<div class="col-md-8">
  <div class="dashboard-header">
    <div class="dashboard-header__text-content">
      <h3 class="dashboard-header__text">Популярные произведения</h3>
    </div>
  </div>
  <br>
  <md-card *ngFor="let post of posts"  [routerLink]="['/posts', post.id]" class="col-md-6">
     <md-card-header>
       <md-card-subtitle>4+</md-card-subtitle>
       <md-card-title>{{post.title}}</md-card-title>
     </md-card-header>
     <img style="max-width:200px;margin-left:50px;" md-card-image src="../assets/images/movies.svg">
     <md-card-content>
          <p>{{post.description}}</p>
     </md-card-content>
     <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
     </md-card-actions>
  </md-card>
</div>
