<md-toolbar color="primary">
  <md-nav-list>
    <span class="nav-element" md-list-item routerLink="/dashboard" routerLinkActive="active">
      {{title}}
    </span>
    <span class="nav-element" md-list-item routerLink="/videos" routerLinkActive="active">
      <img class="nav-img" src="../assets/images/movies.svg">
      Мультфильмы</span>
    <span class="nav-element" md-list-item routerLink="/alphabet" routerLinkActive="active">
      <img class="nav-img" src="../assets/images/english.svg">Алфавит</span>
    <span class="nav-element" md-list-item routerLink="/drawing" routerLinkActive="active">
    <img class="nav-img" src="../assets/images/arts.svg">Панель искусств</span>
  </md-nav-list>
</md-toolbar>
