<h1>{{title}}</h1>
<h2>My posts</h2>
<ul class="posts">
  <li *ngFor="let post of posts"
    [class.selected]="post === selectedPost"
    (click)="onSelect(post)">
    <span class="badge">{{post.id}}</span> {{post.title}}
    <button class="delete"
      (click)="delete(post); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedPost">
  <h2>
    {{selectedPost.title | uppercase}} is my post
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div>
  <label>Post title:</label> <input #postName />
  <button (click)="add(postName.value); postName.value=''">
    Add
  </button>
</div>
