<!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="400" height="400" style="display: none">
    <path id="pentagon-path" d="m200 97.218 108.07 78.524-41.28 127.04h-133.58l-41.281-127.04z"/>
</svg> -->
<!-- <svg width="400" height="400">
  <img src="/assets/images/games.svg" id="pentagon-path">
</svg> -->
<svg width="400" height="180">
  <rect id="pentagon-path" x="50" y="20" rx="20" ry="20" width="350" height="150"/>
</svg>
<div class="jelly-container">
    <!-- Canvas to draw the jelly pentagon -->
    <canvas class="jelly-canvas"></canvas>

    <!-- Text in the centroid of the jelly pentagon -->
    <div class="centroid-container">
        <div class="centroid-text">Start</div>
    </div>
</div>
