<admin-nav></admin-nav>
<h2>Слова</h2>
<table class="table">
  <thead>
    <tr>
      <th>№</th>
      <th>Название</th>
      <th>Буква</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let word of words" (click)="onSelect(word)">
      <th>{{word.id}}</th>
      <th>{{word.name}}</th>
      <th>{{getLetter(word.letter_id)}}</th>
      <th><button md-button (click)="delete(word)">Удалить</button></th>
    </tr>
  </tbody>
</table>
<div class="row" *ngIf="selectedItem">
  <h2>
    Редактировать {{selectedItem.name | uppercase}}
  </h2>
  <input [(ngModel)]="selectedItem.name" placeholder="name"/>
  <button md-button (click)="save()">Save</button>
</div>
<div class="row" *ngIf!="selectedItem">
  <h2>Добавить слово</h2>
  <input [(ngModel)]="newItem.name" placeholder="name"/>
  <button md-button (click)="add()">
    Добавить
  </button>
</div>
